.card-width {
    width: 12%;
}
.block {
    background-color: rgb(4, 156, 4);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overlap {
    margin-left: -5rem;
}
.padding {
    margin-left: 3rem;
    margin-right: 3rem;
}
